@media only screen and (max-width: 410px){

.header-nav{
   display: none;
}
.nav ul li a {
    display: none;
}
.header{
    width: 90%;
   
}
#hero{
    padding: 40px 0;
}
.logo{
    padding: 0px 20px;
}
.hero-container{
    width: 90%;
    grid-template-columns: auto ;
    
}


.hero-image img{
    max-width:  100%;
    height: auto;
    order: 1;
}

.hero-text h1{
font-size: 35px; 
line-height: 38px;
order: 2;
padding-left: 0px 5px;
}

.hero-text p{
    font-size: 19px;
}

.hero-info-container{
    width: 90%;
   grid-template-columns: auto ;
    padding: 0px 120px;
}
.item img{
    width: 100%;
    text-align: center;
   
    
}

.about-container{
    width: 90%;
    grid-template-columns: auto;
   
}

.about-container-text1 h5{
    font-size: 20px;
    padding: 6px;
    
}

.about-container-text1 ul li{
    padding: 10px;

}


.about-container-text1  span {
    font-size: 18px;
}

.about-container-text2{
   font-size: 20px;
    padding: 30px;
}

.about-container-text2 a button{
padding: 12px 70px;
}



.why-us-container{
    width: 90%;
    grid-template-columns: auto;
    gap: 30px;
}
.why-us-info{
    text-align: center;
}
.why-us-info h3{
    font-size: 30px;
    word-spacing: 3px;
    
}

.why-us-info p{
    font-size: 20px;
    word-spacing: 3px;
    padding: 10px 0px;
    
}

.service{
    width: 90%;
}

.service-section-container {
    width: 90%;
    grid-template-columns: auto;
    
}
.cta-bg{
    width: 100%;
   
}

.cta-bg-container{
    width: 90%;
}

.cta-bg-text button{
    width: 194px;
    height: 50px;
   
    
}


.cta-bg-text h2{
    font-size: 27px;
    font-weight: bolder;
}

.cta-bg-text p{
    font-size: 20px;
   padding: 0px 15px;
}

.port-container{
    width: 90%;
    
}

.p-i-container{
    width: 90%;
    grid-template-columns: auto auto;
}

.imagebox img{
    width: 100%;
    height: auto; 
    grid-template-columns: auto auto;
}

.team-container{
    width: 90%;
    grid-template-columns: auto;
    
}
.team-box{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.pricing-heading{
    width: 90%;
   
   
    
}
.pricing-heading h2{
    width: 85%;
}

.pricing-heading p{
    text-align: center;
   
    font-size: 17px;
    width: 82%;
}


.pricing{
    width: 90%;
}

.pricing-container{
    grid-template-columns: 1fr; 
    width: 100%;
    padding-left: 0;
    place-items: center;
}

.pricing-box {
    width: 90% !important;
    margin: 0 auto !important;
    box-sizing: border-box;
}






.testimonals-container{
    width: 90%;
    
}

.image1 img{
    width: 100%;
    height: auto;
}

.image2 img{
    width: 100%;
    height: auto;
}

.image3 img{
    width: 100%;
    height: auto;
}


.image4 img{
    width: 100%;
    height: auto;
}

.image5 img{
    width: 100%;
    height: auto;
}


.faq-container{
    width: 90%;
}


.faq-info p{
    margin-left: 15px;
    text-align: center;
   
}

.faq-info-box p{
    margin-top: 20px;
    gap: 30px;
}

.subscription-container{
    width: 90%;
    grid-template-columns: auto;
    
}

.subscription-text p{
    margin-bottom: 50px;
}

.blogpage-container{
    width: 90%;
    grid-template-columns: auto;
}

.blogpage-text h2 a{
    padding-bottom: 20px;
}

.contact-container{
    width: 90%;
    grid-template-columns: auto auto ;
}

 .contact-container-box2{

    grid-template-columns: auto ;
 }


 .contact-container-box1{
    width: 90%;
  
}

.map{
    width: 90%;
   
 
}

.news{
    width: 90%;
    grid-template-columns: auto;
}

.footer-container{
    width: 90%;
    grid-template-columns: auto ;
    text-align: center;
    
  
}

.footer-about h2 {
    margin-bottom: 10px;
}
.footer-about h6{
    padding-bottom: 40px;
}


.footer-service h2{
    padding-top: 40px;
}

.follow h2{
    padding-top: 40px;
}
}